@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms
@using Inbursa.Client.Models

<div class="w-50 bg-white h-75 mx-auto shadow mt-5 d-flex" style="border-radius: 25px;">
  <div id="bg-login" class="h-100 w-50" style="border-top-left-radius: 25px; border-bottom-left-radius: 25px;"></div>
  <div class="p-4 py-5 d-flex flex-column">
    <h1 class="mb-4">Bienvenido a <span style="font-weight: bold">Inbursa</span></h1>
    <EditForm Model="@usuario" OnValidSubmit="@Login">
      <h4>Inicio de sesión</h4>
      <div class="form-group mt-4 w-100">
        <label for="usuario" class="fw-bold">Usuario</label>
        <InputText @bind-Value="@usuario.Nom_Usuario" class="form-control p-2 px-3" id="usuario" placeholder="Usuario" required />
      </div>
      <div class="form-group mt-4 w-100">
        <label for="password" class="fw-bold">Contraseña:</label>
        <InputText @bind-Value="@usuario.Contrasena" type="password" class="form-control p-2 px-3" id="password" placeholder="Contraseña" required />
      </div>
      <button type="submit" class="btn btn-primary p-2 px-4 rounded-pill mt-4" style="letter-spacing: 2px;">
      Log In
      </button>

      <div>
      <a class="mt-2 link-dark" href="/register" onclick="cambiarPestaña()" style="cursor: pointer;">Registrarme</a>
      </div>

      @if (loginFallido)
      {
        <div class="alert alert-danger mt-3" role="alert">
          El inicio de sesión ha fallado. Verifique sus credenciales e intente nuevamente.
        </div>
      }
    </EditForm>
  </div>
</div>

@code {
  private Usuario usuario = new Usuario();
  private bool loginFallido = false;

  private async Task Login()
  {
    var response = await Http.GetFromJsonAsync<List<Usuario>>("http://localhost:5237/api/Usuario");
    var login = response.FirstOrDefault(u => u.Nom_Usuario == usuario.Nom_Usuario && u.Contrasena == usuario.Contrasena);

    if (login != null)
    {
      NavigationManager.NavigateTo("/User");
    }
    else
    {
      loginFallido = true;
    }
  }
}
