@page "/Employees/Gerente/AdminEmp"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Inbursa.Client.Models

<PageTitle>Empleado</PageTitle>

<nav class="navbar navbar-expand-lg p-3">
  <div class=" container-fluid justify-content-start pb-4">
    <svg xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icon-tabler-feather me-3" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;" onclick="window.location.href = '/Employees/Gerente'">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path id="icon" style="stroke-dashoffset: 0" d="M4 20l10 -10m0 -5v5h5m-9 -1v5h5m-9 -1v5h5m-5 -5l4 -4l4 -4" />
      <path id="icon" style="stroke-dashoffset: 0" d="M19 10c.638 -.636 1 -1.515 1 -2.486a3.515 3.515 0 0 0 -3.517 -3.514c-.97 0 -1.847 .367 -2.483 1m-3 13l4 -4l4 -4" />
    </svg>
    <h1 class=" fw-bold text-white">Inbursa</h1>
    <ul class=" navbar-nav ps-5">
      <li class=" nav-item dropdown">
        <a class=" nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true" id="navItemCuenta">Empleados</a>
        <ul class="dropdown-menu position-absolute animate__animated animate__bounceIn bg-black" style="border: 1px solid #505050; border-radius: 15px" aria-labelledby="navItemCuenta">
          <li><a class="dropdown-item text-white py-2" href="/Employees/Gerente">Generar un nuevo empleado</a></li>
          <li><a class="dropdown-item text-white py-2" href="/Employees/Gerente/AdminEmp">Administrar empleados</a></li>
          <li><a class="dropdown-item text-white py-2" href="/Employees/Gerente/AdminAccounts">Administrar cuentas</a></li>
        </ul>
      </li>
      <li class=" nav-item ms-5">
        <a class=" nav-link text-white" href="/Employees/Gerente">Politicas de privacidad</a>
      </li>
      <li class=" nav-item ms-5">
        <a class=" nav-link text-white" href="/Employees/Gerente">Solicitar ayuda</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container text-white animate__animated animate__fadeInUp text-white" style="animation-delay: 0.8s;">
    <h1>Empleados</h1>
        <table class="table text-white" style="background-color: #494949eb; border-radius: 15px">
            <thead>
                <tr >
                    <th class="p-3">Nomina</th>
                    <th class="p-3">CURP</th>
                    <th class="p-3">Options</th>
                </tr>
            </thead>
            <tbody>
                @if(empleados != null){
                @foreach (var empleado in empleados)
                {
                    <tr>
                        <td class="p-3">@empleado.Nomina</td>
                        <td class="p-3">@empleado.CURP</td>
                        <td>
                          <button class="btn btn-outline-success">
                            editar
                          </button>
                        </td>
                    </tr>
                }
                }
            </tbody>
        </table>
</div>


@code
{
    private IEnumerable<Empleado>? empleados;

    protected override async Task OnInitializedAsync() => 
    empleados = await Http.GetFromJsonAsync<IEnumerable<Empleado>>("http://localhost:5237/api/Empleado");
}